Your Turing Application is complete

Thanks for submitting your application. We will review it shortly. You can edit your responses, except the quiz, by loggin in here: http://asquared.herokuapp.com/login.

Make sure to check your email for any updates regarding your application.

In the meantime, if you have any questions, feel free to contact us at contact@turing.io.

Thanks for applying to Turing,

The Turing Team