!!!
%html
  %head
    = stylesheet_link_tag "emails/email"
  %body
    .container
      = image_tag "turing-email.png", class: "brand"

      %h2.header Your <strong>Turing Application</strong> is complete

      %p Thanks for submitting your application. We will review it shortly. You can edit your responses, except the quiz, by loggin in #{link_to "here", "http://asquared.herokuapp.com/login"}.

      %p Make sure to check your email for any updates regarding your application.

      %p In the meantime, if you have any questions, feel free to contact us at #{mail_to "contact@turing.io"}.

      %p Thanks for applying to Turing,

      %p The Turing Team