!!!
%html
  %head
    = stylesheet_link_tag "email"
  %body.email-text
    .email-container
      %h2.email-header Prepare for the <strong>Logic Quiz</strong>

      %p The next step in your application is the Logic Quiz. This is a series of small puzzles that allow us to gain insight into your analytic mind as to how you solve problems. Historically, there has been a strong correlation between the ability to solve the quiz and the performance in our programs.

      %p Make sure that you are prepared to take the quiz. Find a comfortable place, get some pencil and paper, and relax. The quiz takes about 30 to 60 minutes to complete.

      %p There are several places online where you can practice beforehand. When you feel ready, just #{link_to "login", "http://asquared.herokuapp.com/quiz"} to the application and start the quiz.

      %p If you have any questions, feel free to contact us at #{mail_to "contact@turing.io"}.

      %p Thanks again and good luck,

      %p The Turing Team