A2

Prepare for the Logic Quiz

The next step in your application is the Logic Quiz. This is a series of small puzzles that allow us to gain insight into your analytic mind as to how you solve problems. Historically, there has been a strong correlation between the ability to solve the quiz and the performance in our programs.

Make sure that you are prepared to take the quiz. Find a comfortable place, get some pencil and paper, and relax. The quiz takes about 30 to 60 minutes to complete.

There are several places online where you can practice beforehand. When you feel ready, just login to the application here: http://asquared.herokuapp.com/quiz, and start the quiz.

If you have any questions, feel free to contact us at contact@turing.io.

Thanks again and good luck,

The Turing Team.