!!!
%html
  %head
    :css
      body { color: rgb(51, 51, 51); font-family: Helvetica, Arial, sans-serif; }
      h2 { font-size: 24px; font-weight: lighter; margin: 10px 0px 30px; text-align: center; }
      p { margin: 14px 0px; font-size: 14px; line-height: 24px; }
      .container { padding: 20px; }
  %body
    .container
      %h2 Welcome to the <strong>Turing School</strong> application

      %p Start submitting your answers #{link_to "here", "http://asquared.herokuapp.com/login"}. Once you submit a response, you can always edit it, excepting the quiz.

      %p If you have any questions during the process, feel free to contact us at #{mail_to "contact@turing.io"}.

      %p Thanks again for choosing us,

      %p The Turing Team