!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Turing School
    :css
      body { color: rgb(51, 51, 51); font-size:14px; font-family:Helvetica, Arial; }
      p { margin:15px 0px; }
      .container { padding: 20px; }
      .brand { color: orange; text-align: center; font-size:40px; }
      .header { margin: 10px 0px 30px; text-align: center;}
  %body
    .container
      %h1.brand A<sup>2</sup>

      %h2.header Welcome to the <strong>Turing School</strong> application

      %p Start submitting your answers #{link_to "here", "http://asquared.herokuapp.com/login"}. Once you submit an response, you can always edit it, excepting the quiz.

      %p If you have any questions during the process, feel free to contact us at #{mail_to "contact@turing.io"}.

      %p Thanks again for choosing us,

      %p The Turing Team.