A2

Welcome to the Turing School application

Start submitting your answers here: http://asquared.herokuapp.com/login. Once you submit an response, you can always edit it, excepting the quiz.

If you have any questions during the process, feel free to contact us at contact@turing.io.

Thanks again for choosing us,

The Turing Team