!!!
%html
  %head
    = stylesheet_link_tag "emails/email"
  %body
    .container
      %h1.brand A<sup>2</sup>

      %h2.header Welcome to the <strong>Turing School</strong> application

      %p Start submitting your answers #{link_to "here", "http://asquared.herokuapp.com/login"}. Once you submit a response, you can always edit it, excepting the quiz.

      %p If you have any questions during the process, feel free to contact us at #{mail_to "contact@turing.io"}.

      %p Thanks again for choosing us,

      %p The Turing Team