%h1 Logical problem solving
%p A series of small puzzles that allow us to gain insight into your analytic mind as to how you solve problems.

%p ... need copy ...

= form_for :quiz, url: step_quiz_path, method: :put do |f|
  = f.submit 'save'
