.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Logical Problem Solving

      %hr

      %p This is series of small logical puzzles that will allow us to start gauging your aptitude for programming.

      %h3.title.orange Instructions

      %p The quiz should take 30 to 60 minutes. Please plan to complete it in a single session. There's no time limit, but your start and end time are logged. 

      %p Make sure that you have a good internet connection and that you are in a comfortable place. We recommend you have a pencil and paper on hand.

      %hr

      = link_to 'Start Now', quiz_question_path, class: "btn btn-lg btn-warning btn-site"
    .col-md-2