%h1 Logical problem solving
%p A series of small puzzles that allow us to gain insight into your analytic mind as to how you solve problems.

%p ... instructions ...

= link_to 'start now', quiz_index_path
