.container
  %h2.title.center.orange Admin Dashboard

  .row
    - @steps.each do |step|
      .col-md-2.step-box
        %h4.title= link_to(step.capitalize, subset_of_admin_applicants_path(step))
        %h4= "#{@counts[step]} applicants"
