body {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: rgb(51, 51, 51);
  margin: 14px 0px;
  font-size: 14px;
  line-height: 24px;
}

.brand {
  text-align: center;
  margin: 10px 0px;
}

.container {
  padding: 20px;
}

.header {
  color: rgb(51, 51, 51);
  font-size: 24px;
  font-weight: lighter;
  margin: 10px 0px 30px;
  text-align: center;
}
