.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Quiz Complete

      %hr

      %p
        Thank you for completing the quiz! Your answers have been recorded.

      %hr

      = button_to "Continue Application", step_edit_final_path, method: :get, class: "btn btn-lg btn-warning btn-site"
    .col-md-2