.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Quiz Completed

      %hr

      %h3.title.center
        Thank you for completing the quiz!

      %p
        Your answers have been submitted to the team. We will review your answers shortly. Please continue to submit your application.

      %hr

      = button_to "Continue", step_edit_final_path, method: :get, class: "btn btn-lg btn-warning btn-site"
    .col-md-2