.container
  .row
    .col-md-12
      .progress
        .progress-bar.progress-bar-success{style: "width: 60%"}
          %span.sr-only 20% Complete (success)
        .progress-bar.progress-bar-warning{style: "width: 20%"}
          %span.sr-only 20% Complete (warning)
  .row
    .col-md-12
      %h2.title.center Video Submission

      %hr

      %p We need to understand your passion and character. To do help us do that, please create a video that follows these requirements:
      %ol
        %li
          %p No longer than 4 minutes
        %li
          %p We want to clearly hear your voice and see your face. This isn't a beauty contest, but we want to feel like we're having a real conversation. We recommend you use an external mic rather than the one built into a laptop.
        %li
          %p We want you to tell us <strong>why do you want to participate</strong> in this program.
        %li
          %p Also, please answer two of the following questions:

          %ul
            %li What do you do better than other people? How do you know?
            %li What's the most influential book you have read in the last two years? Why?
            %li If you couldn't be a programmer, what other career would you pursue? Why?
            %li Imagine you had a free year after this program. What would you build?

        %li Post the video as an <em>unlisted</em> video on YouTube

      %hr

      %h4.title Unlisted YouTube Video URL

      = form_for :video, url: step_video_path, method: :put, html: { class: "form-inline", role: "form" } do |f|
        - if @video.errors.any?
          %p= @video.errors.full_messages
        .form-group
          = f.text_field :url, placeholder: "url", class: "form-control url-input"
        .form-group
          = f.submit 'Save', class: "btn btn-warning btn-submit"

