.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-12
      %h2.title.center Application Complete

      %hr

      %p Lorem Ipsum

      %div.center
        = button_to 'Submit Application', step_final_path, method: :put, class: "btn btn-warning btn-submit"