.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-12
      %h2.title.center Application Complete

      %hr

      - if current_user.application.completed? :final

        %p
          Thanks for your submitting your application. You can edit your information any time by clicking on the button below.

      - else

        %p
          Thanks for completing your responses. You can edit your information any time. When you are ready, click on the button below to submit your application.

      %p
        Once we receive your information, we will review it shortly. Remember to check your email for information regarding your application status.

      %p
        If you have any questions in the meantime you can contact us at #{mail_to "contact@jumpstartlab.com"}.

      %hr

      %div.center
        - if current_user.application.completed? :final
          = button_to 'Review your Application', root_path, method: :get, class: "btn btn-lg btn-warning btn-site"
        - else
          = button_to 'Submit Application', step_final_path, method: :put, class: "btn btn-lg btn-warning btn-site"