.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Application Ready to Submit

      %hr

      - if current_user.application.completed? :final

        %p
          Thanks for your submitting your application. You can edit your information any time by clicking on the button below.

      - else

        %p
          Ok, that's it. You can <a href='/'>go back and edit your responses</a> or, when you're ready, click the <strong>Submit</strong> button below.

      %p
        Our goal is to have all applications reviewed and feedback delivered within two weeks of submission. If you have any questions in the meantime you can contact us at #{mail_to "contact@jumpstartlab.com"}.

      %hr

      %div.center
        - if current_user.application.completed? :final
          = button_to 'Review your Application', root_path, method: :get, class: "btn btn-lg btn-warning btn-site"
        - else
          = button_to 'Submit Application', step_final_path, method: :put, class: "btn btn-lg btn-warning btn-site"
    .col-md-2