%hr

- unless current_user.application.completed? :final
  - if current_user.applying?
    = button_to('Continue / Review Application', apply_path, method: "get", class: "btn btn-lg btn-warning btn-site")
  - else
    = button_to('Start Application', apply_path, method: "get", class: "btn btn-lg btn-warning btn-site")