%p
  First, you'll need a user account at
  = link_to('Github', 'http://github.com')
  to login. Once logged in, you can start an application.

%p
  Already have an account?
  = link_to('Login with GitHub', login_path)

