.home
  .container
    .row
      .col-md-12.center
        = image_tag "turing.png", class: "brand"
        %h2.thin= t 'welcome_guest.headline'
        %h3.thin= t 'welcome_guest.account_signup'
        = button_to 'LOGIN', login_path, method: :get, class: "btn btn-lg btn-default btn-home"