%p
  First, you'll need a user account at GitHub <a href='https://github.com/signup/free' target='_blank'>(link)</a> to login. Once logged in, you can start an application.

%p
  Already have an account?
  = link_to('Login with GitHub', login_path)

