.container
  .row
    .col-md-12.center
      %h1.site-brand A<sup>2</sup>
      %h2.lead Welcome to the <strong>Turing School</strong> application.
      %p
        You'll need a user account at <a href='https://github.com/signup/free' target='_blank'>GitHub</a> to login. Once logged in, you can start an application.

      %p
        Already have an account?
        = link_to('Login with GitHub', login_path)