.step-box {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin: 15px 16px;
  margin-left: 20px;
  padding: 10px 15px 25px;
}

.step-box.main {
  min-width:  95.7%;
}

td.description {
  max-width: 100px;
}

.criteria {
  min-height: 300px;
}

.applicant-actions {
  margin-bottom: -10px;
}

.applicant-info {
  position: relative;
  left: 97px;
  bottom: 30px;
}

.applicant-img {
  margin-right: 10px;
}

.table tbody > tr > th {
  border-top: 0px;
}

.initials {
  padding: 20px;
  text-align: center;
}