.step-box {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin: 15px 16px;
  margin-left: 20px;
  padding: 10px 15px 25px;
}

.step-box.main {
  min-width:  95.7%;
}

td.description {
  max-width: 100px;
}

.criteria {
  min-height: 300px;
}

.applicant-actions {
  margin-bottom: -10px;
}