.site-brand {
  color: white;
  font-size: 100px;
  letter-spacing: -.1em;
}

.title {
  font-weight: lighter;
  padding-top: 10px;
}

.title.no-padding {
  padding-top: 0px;
}

.orange {
  color: orange;
}

.center {
  text-align: center;
}

.application-list {
  padding-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
}

.btn-site {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}


.btn-home a{
  text-decoration: none;
  color: white;
}

.btn-submit {
  position: relative;
    top: 4px;
}

.home {
  background-color: darkorange;
  color: white;
  font-size: 1.5em;
  padding-top: 115px;
  padding-bottom: 155px;
  margin-top: -20px;
  opacity: 0.6;
}

.btn-home {
  background: none;
  border-color: white;
  color: white;
  font-size: 1em;
  margin-top: 20px;
  min-height: 50px;
  min-width: 300px;
  padding: 20px;

}

.btn-home:hover, .btn-home:focus, .btn-home:active, .btn-home.active {
  background-color: orange;
  border-color: orange;
  color: white;
}

.btn:active, .btn.active {
  box-shadow: none;
}

.thin {
  font-weight: lighter;
}