.site-brand {
  color: white;
  font-size: 100px;
  letter-spacing: -.1em;
}

.title {
  font-weight: lighter;
  padding-top: 10px;
}

.title.no-padding {
  padding-top: 0px;
}

.orange {
  color: orange;
}

.center {
  text-align: center;
}

.application-list {
  padding-bottom: 10px;
}

.btn-site {
  margin-left: 20%;
  margin-right: 20%;
  min-height: 60px;
  width: 60%;
}

.btn {
  margin-bottom: 10px;
}

.btn-home a{
  text-decoration: none;
  color: white;
}

.btn-submit {
  position: relative;
    top: 4px;
}

.home {
  background-color: rgb(148, 52, 58);
  padding-top: 115px;
  padding-bottom: 155px;
  margin-top: -20px;
  opacity: 0.9;
  color: white;
  font-size: 1.5em;
}

.btn-home {
  background-color: rgb(140, 50, 60);
  margin-top: 20px;
  padding: 20px;
  min-height: 50px;
  min-width: 300px;
  font-size: 1em;
  color: white;
  opacity: 0.8;
}

.btn-home:hover, .btn-home:focus, .btn-home:active, .btn-home.active {
  background-color: rgb(140, 60, 80);
  border-color: #adadad;
  color: white;
}

.thin {
  font-weight: lighter;
}