.site-brand {
  color: orange;
  font-size: 100px;
  letter-spacing: -.1em;
}

.title {
  font-weight: lighter;
  padding-top: 10px;
}

.title.no-padding {
  padding-top: 0px;
}

.orange {
  color: orange;
}

.center {
  text-align: center;
}

.application-list {
  padding-bottom: 10px;
}

.btn-site {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.btn {
  margin-bottom: 10px;
}

.btn-submit {
  position: relative;
    top: 4px;
}