// FORMS

.bio-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.email-input {
  min-width: 250px;
}

.location-input {
  min-width: 150px;
}

.url-input {
  min-width: 400px;
}

// PROGRESS BAR

.circle {
  background: whitesmoke;
  border: solid 4px #f0ad4e;
    border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
    bottom: 50px;
}

// creates circle#step-* classes and ids
@for $i from 0 through 6 {
  .circle#step-#{$i} {
    left: -1% + ($i * 20%);

    @if  $i != 0 {
      bottom: 50px + ($i * 40px)
    }
  }
}

.progress-container {
  max-height: 40px;
}