.email-input {
  min-width: 250px;
}

.location-input {
  min-width: 150px;
}

.url-input {
  min-width: 400px;
}

.btn-submit {
  min-width: 100px;
}

.bio-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circle {
  background: whitesmoke;
  border: solid 4px #f0ad4e;
    border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
    bottom: 50px;
}

.circle#step-0 {
  left: -1%;
}

.circle#step-1 {
  left: 19%;
  bottom: 90px;
}

.circle#step-2 {
  left: 39%;
  bottom: 130px;
}

.circle#step-3 {
  left: 59%;
  bottom: 170px;
}

.circle#step-4 {
  left: 79%;
  bottom: 210px;
}

.circle#step-6 {
  left: 99%;
  bottom: 250px;
}

.progress-container {
  max-height: 40px;
}