%h1= @applicant.name

= render 'application', applicant: @applicant, application: @applicant.application

- if @applicant.application.evaluated_by?(current_user)
  = render 'admin/evaluations/summary', application: @applicant.application
- else
  %p=button_to 'Create Evaluation', admin_evaluations_path(@applicant)
