h1 {
  font-size: 42px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

ul, ol {
  font-size: 16px;
  line-height: 26px;
}

ol ul{
  margin-bottom: 10px;
}

// GENERAL

.center {
  text-align: center;
}

.orange {
  color: orange;
}

.thin {
  font-weight: lighter;
}

.title {
  padding-top: 10px;
}

.title.no-padding {
  padding-top: 0px;
}

// BUTTONS

.btn {
  margin-bottom: 10px;
}

.btn-site {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.btn-submit {
  min-width: 100px;
  position: relative;
    top: 4px;
}

// FOOTER

.footer {
  color: gray;
  font-weight: lighter;
  padding: 40px 0px;
  text-align: center;
}

// NAVBAR

.site-brand {
  color: white;
  font-size: 100px;
  letter-spacing: -.1em;
}

.navbar-default {
  border-radius: 0px;
  background-color: #333;
  border: none;
  opacity: 0.9;
}

.navbar-default .navbar-brand {
  color: orange;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: orange;
}

.navbar-logo {
  max-height: 40px;
  position: relative;
    bottom: 15px;
    left: 15px;
}

.navbar-right {
  float: right !important;
  position: relative;
    top: 10px;
}