%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    - if current_user.admin?
      %a.navbar-brand{href: "#{admin_path}"} A<sup>2</sup>
    - else
      %a.navbar-brand{href: "#{root_path}"} A<sup>2</sup>
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        - if current_user.guest?
          = link_to('Login with GitHub', login_path)
        - else
          = link_to('Logout', logout_path, method: 'delete')